.Rproj.user
.Rhistory
.RData
csv input
fort.6
params.txt
wet0D.R
wet0D.dll
microclimate_old
make zoo temperature profiles2.R
.gitignore
growth_197.pdf
growth_199.pdf
growth_255.pdf
growth_592.pdf
growth_593.pdf
growth_594.pdf
growth_640.pdf
growth_941.pdf
CampNormTbl9_1.csv
DEB model - Copy
Richter_Table1_SI.csv
Test DEVOUR output2 - Copy.csv
Test DEVOUR output2.csv
Test DEVOUR output_mortality5.csv
augusta_shadsoil.csv
augusta_soil.csv
dates.csv
ecto csv input
fort.0
growth_144.pdf
growth_196.pdf
growth_256.pdf
growth_380.pdf
growth_387.pdf
growth_4.pdf
growth_553.pdf
growth_639.pdf
growth_341.pdf
growth_914.pdf
